.work {
    padding-bottom: 50px;
    // background: linear-gradient(to bottom right, #01ADA4, #F7E80F);
    background-color: #6A43C4;

    &__wrapper {
        height: auto;
        cursor: pointer;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    &__link {
        font-size: 26px;
        color: #fff;
        font-style: italic;
        font-weight: 600;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
            color: #F8F832;
        }
    }

    &__img {
        margin-bottom: 20px;

        &:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }
    }
}